{% extends "auctions/layout.html" %}

{% block main %}
<h2>{{category}}</h2>
<a href="{% url 'categories' %}">Back to all Categories</a><br><br>

<article>
    {% for l in allListings %}
<section>
    <a href="{% url 'listing' l.id %}" style="text-decoration: none;">
        {% if l.image %}
        <img src="{{ l.image.url }}" alt="{{ l.name }}">
        {% endif %}
        <h3>{{ l.name }}</h3>
        <h4>Current Bid: ${{ l.currentBid }}</h4>
        <p>Posted: {{ l.datePosted }}</p>
    </a>
</section>
    {% empty %}
    <h3>No active listings in this category.</h3>
    {% endfor %}
</article>
{% endblock %}