{% extends "auctions/layout.html" %}

{% block main %}
<h2>Categories</h2>

<section>
    {% for c in allCategories %}
    <article style="display:inline-block; margin: 25px; ">
        <a href="{% url 'bycategory' c.name %}" style="text-decoration:none;display:inline;">
            <img src="{{ c.image.url }}" alt="{{ c.name }}" style="width: 200px; display: block;margin: auto;">
            <h3 style = "vertical-align:middle; text-align:center;">{{ c }}</h3>
        </a>
    </article>
    {% endfor %}
</section>

{% endblock %}