{% extends "auctions/layout.html" %}

{% block main %}
<h2>Active Listings</h2>

<article>

    {% for l in listings %}
    {% if l.active %}
    <section>

    <a href="{% url 'listing' l.id %}" style="text-decoration: none; display: inline-flex;">
            <img src="{{ l.image.url }}" alt="{{ l.name }}" style="margin-left:100px; margin-right: 100px;">
            <div>
                <h3>{{ l.name }}</h3>
                <h4>Current Bid: ${{ l.currentBid }}</h4>
                <p>Posted: {{ l.datePosted }}</p>

            </div>

                
    </a>
    </section>
    {% endif %}
    {% endfor %}

</article>
{% endblock %}