{% extends "auctions/layout.html" %}

{% block main %}
<h2>Active Listings</h2>

<article>

    {% for l in listings%}
    <section>

    <a href="{% url 'listing' l.id %}" style="text-decoration: none;">
            {% if l.image %}
                <img src="{{ l.image.url }}" alt="{{ l.name }}">
            {% endif %}
            <h3>{{ l.name }}</h3>
            <h4>Price: ${{ l.price }}</h4>
            <p>Posted: {{ l.datePosted }}</p>
    </a>
    </section>
    {% endfor %}

</article>
{% endblock %}