{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="{% static 'auctions/uaa490styles.css' %}" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <style>
        img {
             width: 300px;
            display: block;
             margin:auto
            }
    </style>

    <body>
        <header style="background-color:#738678;">
            <br>
            <h1 style="color:white;">Auctions "R" Us</h1>
            <nav style="color:white;">
                <span style="color:white;">
                    <a style="color:white;" href="{% url 'index' %}">Active Listings</a>
                    <a style="color:white;" href="{% url 'categories' %}">Categories</a>
                    {% if user.is_authenticated %}
                        <a style="color:white;" href="{% url 'watchlist' %}">Watchlist</a>
                        <a style="color:white;" href="{% url 'createlisting' %}">Create Listing</a>
                    {% endif %}
                </span>
                <span>
                    {% if user.is_authenticated %}
                        Welcome <strong>{{ user.username }}!</strong>
                        <a style="color:white;" href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a style="color:white;" href="{% url 'login' %}">Log In</a>
                        <a style="color:white;" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </span>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
