{% extends "auctions/layout.html" %}

{% block main %}
<article>
    <section>
        <h2>{{ item.name }}</h2>
        <a href="{% url 'index' %}">Back to all listings</a>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% if user.is_authenticated %}
        {% if inWatchlist %}
        <form method="POST" action="{% url 'removefromwatchlist' item.id %}">
            {% csrf_token %}
            <button>Remove from watchlist</button>
        </form>
        {% else %}
        <form method="POST" action="{% url 'addtowatchlist' item.id %}">
            {% csrf_token %}
            <button>Add to watchlist</button>
        </form>

        {% endif %}
        {% endif %}
    </section>
    <section>
        <img src="{{ item.image.url }}">
    </section>

    <section>
        <h3>${{ item.currentBid }}</h3>
        <h4>Bidding ends: {{ item.dateBidEnd }} </h4>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'bid' item.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ bidForm }}
            <button>Bid</button>
        </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a><p style="display:inline"> to bid on this item</p>
        {% endif %}
        

        <h4>Description</h4>
        <p>{{ item.description }}</p>
        <h4>Details</h4>
        <ul>
            <li>Listed by: {{ item.user }}</li>
            <li>Category: {{ item.category }}</li>
        </ul>
    </section>

    <section>
        <h4>Comments</h4>
            {% for c in allComments %}
            <div> {{ c.comment }} by {{ c.user }} on {{ c.date }}</div><br>
            {% endfor %}

            {% if user.is_authenticated %}
        <form method="POST" action="{% url 'comment' item.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type='hidden' name='listing_id' value='{{ item.id }}' />
            {{ commentForm }}
            <button>Comment</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a><p style="display:inline"> to comment on this item</p>
        {% endif %}

    </section>



</article>

{% endblock %}