{% extends "auctions/layout.html" %}

{% block main %}

<script>
    document.addEventListener("DOMContentLoaded", ()=> {
        const imageInstance = basicLightbox.create(document.querySelector('#image'))
        document.querySelector('img.image').onclick = imageInstance.show
        const image = document.getElementById('watchlist');
        const id = image.dataset.id;
        const watchlistStatus = image.dataset.watchlist;

        if (image.dataset.watchlist == 'True'){
            image.src = '/auctions/static/auctions/on.png';
        }
        else{
            image.src = '/auctions/static/auctions/off.png';
        }

        image.onclick = ()=> {
            fetch(`/api/watchlistToggle/${id}`).then(response => response.json()).then(data => {
                console.log(data);
                update_icon(data);

            })
        }
    })

    function update_icon(data){
        var newstate = data["current_value"];
        var filename = `/auctions/static/auctions/${newstate}.png`;
        document.getElementById('watchlist').src = filename;
    }

</script>
<style>
    #lightbox{
        position: fixed;
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
        display: none;
    }

    #lightbox.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }


</style>
<a href="{% url 'index' %}">Back to all listings</a><br><br>
<article>
    <section style="display:inline-flexbox">
        {% if owner %}
            <h4>You own this item.</h4>
            <form method="POST" action="{% url 'closeBidding' item.id %}">
                {% csrf_token %}
                <button>Close Bidding</button>
            </form>
        {% endif %}
        <h2>{{ item.name }}</h2>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

    

        {% if user.is_authenticated %}
        <img src="/auctions/static/auctions/off.png" id="watchlist" alt="Unfilled heart Icon" data-id="{{item.id}}" data-watchlist="{{inWatchlist}}" style="cursor:pointer;width:60px;display:inline;"><br>

        {% if inWatchlist %}

        <form method="POST" action="{% url 'removefromwatchlist' item.id %}">
            {% csrf_token %}
            <button>Remove from watchlist</button>
        </form>
        {% else %}

        <form method="POST" action="{% url 'addtowatchlist' item.id %}">
            {% csrf_token %}
            <button>Add to watchlist</button>
        </form>

        {% endif %}
        {% endif %}
    </section>
        
    <img class="image" src="{{ item.image.url }}" style="width:500px">
    <div id="image" hidden>
        <img width="1400" height="900" src="{{ item.image.url }}">
    </div>

    <section>
        {% if winning %}
            <h3>You are winning this bid.</h3>
        {% endif %}
        <h3>${{ item.currentBid }}</h3>
        <h4>Bidding ends: {{ item.dateBidEnd }} </h4>

        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'bid' item.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ bidForm }}
            <button>Bid</button>
        </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a><p style="display:inline"> to bid on this item</p>
        {% endif %}
        

        <h4>Description</h4>
        <p>{{ item.description }}</p>
        <h4>Details</h4>
        <ul>
            <li>Listed by: {{ item.user }}</li>
            <li>Category: {{ item.category }}</li>
        </ul>
    </section>

    <section>
        <h4>Comments</h4>
        <article>
            {% for c in allComments %}
            <section> "{{ c.comment }}" <br>by <strong>{{ c.user }}</strong> on {{ c.date }}</section>
            {% endfor %}
        </article>

            {% if user.is_authenticated %}
        <form method="POST" action="{% url 'comment' item.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type='hidden' name='listing_id' value='{{ item.id }}' />
            {{ commentForm }}
            <button style="display:block">Comment</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a><p style="display:inline"> to comment on this item</p>
        {% endif %}
    </section>

</article>

{% endblock %}