{% extends "auctions/layout.html" %}

{% block main %}
<h2>Your Watchlist</h2>

<article>
    {% for l in watchlist%}
    <section>
        <a href="{% url 'listing' l.listing.id %}" style="text-decoration: none;">
            <img src="{{ l.listing.image.url }}" alt="{{ l.listing.name }}">
            <h3>{{ l.listing.name }}</h3>
            <h4>Current Bid: ${{ l.listing.currentBid }}</h4>
            <p>Posted: {{ l.listing.datePosted }}</p>
            <p>Posted by: {{ l.listing.user }}</p>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'removefromwatchlist' l.listing.id %}">
                {% csrf_token %}
                <button class="btn btn-primary">Remove from watchlist</button>
            </form>
            {% endif %}
        </a>
        {% empty %}
        <h3>No listings on your Watchlist</h3>
        <a href="{% url 'index' %}">Find listings to add</a>
    </section>
    {% endfor %}

</article>
{% endblock %}