{% extends "auctions/layout.html" %}

{% block main %}
<h2>Your Watchlist</h2>

<article>
    {% for l in watchlist%}
    <section>
        <a href="{% url 'listing' l.listing.id %}" style="text-decoration: none;">
            {% if l.image %}
                <img src="{{ l.listing.image.url }}" alt="{{ l.listing.name }}">
            {% endif %}
            <h3>{{ l.listing.name }}</h3>
            <h4>Current Bid: ${{ l.listing.currentBid }}</h4>
            <p>Posted: {{ l.listing.datePosted }}</p>
        </a>
    </section>
    {% endfor %}

</article>
{% endblock %}